[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = git@github.com:adam-ce/diff-gaussian-rasterization.git
[submodule "SIBR_viewers"]
	path = SIBR_viewers
	url = git@github.com:adam-ce/SIBR_viewers.git
[submodule "differentiable_gaussian_mixture_renderer"]
	path = differentiable_gaussian_mixture_renderer
	url = git@github.com:adam-ce/differentiable_gaussian_mixture_renderer.git
