*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
/build*
/eval/*
/eval_*.csv
grid_search_burning_ficus/*
grid_search_chair/*
grid_search_coloured_wdas/*
grid_search_explosion_1/*
grid_search_explosion_2/*
grid_search_explosion_3/*
grid_search_wdas_cloud_1/*
grid_search_wdas_cloud_2/*
grid_search_wdas_cloud_3/*
/grid_search_drums/*
/grid_search_ficus/*
/grid_search_hotdog/*
/grid_search_lego/*
/grid_search_materials/*
/grid_search_mic/*
/grid_search_ship/*
